{% load static %}

<div class="account-list">
  {% for account in object_list %}
  <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <a href="{% url 'accounts:detail' account.id %}"><img src="{% if account.photo_middle %}{{ account.photo_middle.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}"></a>
      </div>
    </div>
    <a href="{% url 'accounts:detail' account.id %}" class="account-name"><p>{{ account }}</p></a>
    <P class="account-description">{% if account.description %}{{ account.description }}{% else %}本文はありません。{% endif %}</P>
    <div class="account-list-btn">
      {% if account != user %}
        {% if user in account.get_follower %}
          <button class="user-follow" id="user-follow-{{ account.id }}" data-id="{{ account.id }}">フォロー解除</button>
        {% else %}
          <button class="user-disfollow" id="user-follow-{{ account.id }}" data-id="{{ account.id }}">フォロー</button>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>