{% extends 'base.html' %}
{% load static %}
{% block title %}{{ customuser.username }} | seekiee{% endblock %}
{% block contents %}
<div class="form-content">
  <h1>{{ customuser.username }}</h1>
  <p class="mt-5"><img src="{% if customuser.thumbnail %}{{ customuser.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-photo"></p>
  <p class="mt-5">{% if customuser.description %}{{ customuser.description | linebreaks }}{% else %}本文はありません。{% endif %}</p>

  {% for key, value in QUERY_DICT.items %}
  <a href="{% url 'accounts:posts' view.kwargs.pk key %}" class="btn btn-link p-0">{{value.display}}</a>
  {% endfor %}

  {% if customuser.id == user.id %}
    <form method="post" action="{% url 'accounts:quit' %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("本当に退会しますか？");'>
        退会
      </button>
    </form>
  {% endif %}

</div>
{% endblock %}
