{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}ログイン | seekiee{% endblock %}
{% block contents %}
<div class="form-content">
  <h1 class="mb-4">ログイン</h1>
  <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-dark btn-block" type="submit">ログイン</button>
    <p class="mt-3"><a href="{% url 'account_reset_password' %}" class="text-dark">パスワードをお忘れですか？</a></p>
    <hr>
    <p class="mt-3"><a href="{% url 'account_signup' %}" class="text-dark">アカウントを作成</a></p>
  </form>
</div>
{% endblock %}
