{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}パスワード再設定 | seekiee{% endblock %}
{% block contents %}
<div class="form-content">
  <h1>パスワード再設定</h1>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p>メールアドレスを入力してください。</p>
  <form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-dark btn-block" type="submit">送信</button>
  </form>
</div>
{% endblock %}
