{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}} | seekiee{% endblock %}
{% block contents %}

<a href="{% url 'accounts:detail' view.kwargs.pk %}" class="btn btn-link p-0">{{name}}</a>
{% for key, value in QUERY_DICT.items %}
  <span> / </span>
  {% if key == view.kwargs.query %}
    <span class="btn p-0">{{value}}</span>
  {% else %}
    <a href="{% url 'accounts:posts' view.kwargs.pk key %}" class="btn btn-link p-0">{{value}}</a>
  {% endif %}
{% endfor %}

{% if view.kwargs.query == "follow" or view.kwargs.query == "follower" %}
  {% include "account/account_list.html" %}
{% else %}
  {% include "timeline/post_list.html" %}
{% endif %}
{% include "timeline/pagination.html" %}

{% endblock %}
