{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} | seekiee{% endblock %}
{% block contents %}
{% with f_type=view.kwargs.query %}


<div class="post-list-cover"></div>

<div class="related-posts">
  <a href="{% url 'accounts:detail' view.kwargs.pk %}" class="account-list-img">
    <div class="img-area">
      <div class="inner-area">
        <img src="{% if account.photo_middle %}{{ account.photo_middle.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}">
      </div>
    </div>
  </a>
  <div class="account-info">
    <a href="{% url 'accounts:detail' view.kwargs.pk %}" class="account-name">
      <p>{{ account.username }}</p>
    </a>

    {% if customuser.id == user.id %}
      {% if user in account.get_follower %}
        <button class="user-follow profile-card__button button--orange" id="user-follow-{{ account.id }}" data-id="{{ account.id }}">フォロー解除</button>
      {% else %}
        <button class="user-disfollow profile-card__button button--orange" id="user-follow-{{ account.id }}" data-id="{{ account.id }}">フォロー</button>
      {% endif %}
    {% else %}
      <button class="profile-card__button button--orange" onclick='location.href=href="{% url 'accounts:detail' view.kwargs.pk %}"'>プロフィール</button>
    {% endif%}

  </div>
  <div class="link-menu">
    <ul class="tabs">
      {% for key, value in QUERY_DICT.items %}
        {% if key != "follow" and key != "follower" %}
          {% if key == f_type %}
            <li><a href="#" class="active">{{ value }}</a></li>
          {% else %}
            <li><a href="{% url 'accounts:posts' view.kwargs.pk key %}">{{ value }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% for key, value in QUERY_DICT.items %}
        {% if key == "follow" or key == "follower" %}
          {% if key == f_type %}
            <li><a href="#" class="active">{{ value }}</a></li>
          {% else %}
            <li><a href="{% url 'accounts:posts' view.kwargs.pk key %}">{{ value }}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="sort-list">
  <form action="" method="get">
    <select name="sort" onchange="submit(this.form)">
    {% for key, value in SORT_DICT.items %}
      {% if f_type in value.allowed %}
        <option value="{{ key }}">{{ value.display }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </form>
</div>

{% if view.kwargs.query == "follow" or view.kwargs.query == "follower" %}
  {% include "account/account_list.html" %}
{% else %}
  <div class="related-post-list">
    {% include "timeline/post_list.html" %}
  </div>
{% endif %}
{% include "timeline/pagination.html" %}

{% endwith %}
{% endblock %}
