{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}パスワード再設定 | seekiee{% endblock %}
{% block contents %}
<div class="form-content">
  <h1>{% if token_fail %}不正トークン{% else %}パスワード再設定{% endif %}</h1>
  {% if token_fail %}
  {% url 'account_reset_password' as passwd_reset_url %}
  <p>このパスワード再設定用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワード再設定再申請</a></p>
  {% else %}
  {% if form %}
  <form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-dark btn-block" type="submit">変更</button>
  </form>
  {% else %}
  <p>パスワードは変更されています。</p>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
