{% extends 'base.html' %}
{% load static %}
{% block title %}投稿 | seekiee{% endblock %}
{% block contents %}

<div class="card mb-5 text-left">
  <div class="card-body">
    <div class="row">
    <div class="col-2">
      <img src="{% if user.thumbnail %}{{ user.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle post-photo">
    </div>
    <div class="col-10">
      <form method="post" action="{% url 'timeline:create' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <select class="form-control" id="exampleFormControlTextarea1"  name="category" placeholder="カテゴリー">
        {% for category in categorys %}
          <option style="color:black;"value="{{category.pk}}">{{category}}</option>
        {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1"  name="title" rows="3" placeholder="タイトル"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1"  name="text" rows="3" placeholder="今度のYahooハッカソンに参加したい！"></textarea>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1"  name="recruitment_conditions" rows="3" placeholder="募集条件"></textarea>
      </div>
      <div class="form-group">
        <p>募集人数</p>
        <input type="number" name="capacity" class="form-control">
      </div>
      <div class="form-group mt-1">
        <label for="file">画像アップロード</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="photo">
      </div>
      <button class="btn btn-dark btn-block" type="submit">投稿</button>
      </form>
    </div>
    </div>
  </div>
</div>

{% endblock %}