{% extends 'base.html' %}
{% load static %}
{% block title %}投稿詳細 | seekiee{% endblock %}
{% block contents %}

<h1>ディテイルだよー</h1>

<h1>You are {{user}}</h1>

<h1>内容 is {{object.text}}</h1>

<h1>投稿者 is {{object.author}}</h1>

<h1>応募者 is {{object.get_applicant}}</h1>

<h1>メンバー is {{object.get_member}}</h1>

{% if post.author.id == user.id %}
メンバー
{% for user in object.get_member %}
    <form method="post" action="{% url 'timeline:accept' object.id user.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("このユーザーをメンバーから外しますか？");'>
        {{user}}
      </button>
    </form>
{% endfor %}

応募者
{% for user in object.get_applicant %}
    <form method="post" action="{% url 'timeline:accept' object.id user.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("このユーザーをメンバーにしますか？");'>
        {{user}}
      </button>
    </form>
{% endfor %}

{% endif %}

<hr>

<button class="btn btn-link p-0 {% if user in post.get_like %}disabled post-liked text-secondary{% else %}post-like text-dark{% endif %}" id="post-like-{{ post.id }}" data-id="{{ post.id }}">
  いいね
</button>
<span class="badge badge-info" id="like-count-{{ post.id }}">{% if post.get_like %}{{ post.get_like | length }}{% endif %}</span>

{% if post.author.id == user.id %}
<form method="post" action="{% url 'timeline:delete' post.id %}" class="d-inline">
<button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("この投稿を本当に削除しますか？");'>
  削除
</button>
</form>
<a href="{% url 'timeline:update' object.pk %}" class="btn btn-primary my-2">編集する</a>
{% elif not post.is_recruited %}
<p>現在募集していません</p>
{% else %}
<button class="btn btn-link p-0 {% if user in post.get_applicant or user in post.get_member %}disabled post-applied text-secondary{% else %}post-apply text-dark{% endif %}" id="post-apply-{{ post.id }}" data-id="{{ post.id }}">
応募
</button>
<span class="badge badge-info" id="apply-count-{{ post.id }}">{% if post.get_applicant %}{{ post.get_applicant | length }}{% endif %}</span>
{% endif %}

<div>
  <form method="post" action="{% url 'timeline:comment' object.id %}" class="d-inline">
    {% csrf_token %}
    <textarea name="text" rows="3" placeholder="コメント"></textarea>
    <button class="btn btn-dark btn-block" type="submit">コメントを送信</button>
  </form>
</div>

{% for comment in object.get_comment %}
  <div>
    {% if comment.author.id == object.id %}
      <p style="color: blue">投稿者</p>
    {% endif %}
    <p>{{comment.text}}</p>
    <p>{{comment.created_at}}</p>
    {% if comment.author.id == user.id %}
      <form method="post" action="{% url 'timeline:delete_comment' object.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("このコメントを本当に削除しますか？");'>
        削除
      </button>
      </form>
    {% endif %}
  </div>
{% endfor %}

<img class="card-img-bottom" src="{{ object.post_photo.url }}" alt="Card image cap">
{% endblock %}