{% extends 'base.html' %}
{% load static %}
{% block title %}投稿詳細 | seekiee{% endblock %}
{% block contents %}

<div>
  {% if post.author.id == user.id %}
  <a href="{% url 'timeline:update' object.pk %}" class="btn btn-primary my-2">編集する</a>
  <form method="post" action="{% url 'timeline:delete' post.id %}" class="d-inline">
    {% csrf_token %}
    <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("この投稿を本当に削除しますか？");'>
    削除
    </button>
  </form>
  {% endif %}
</div>

<h1>{{ object.title }}</h1>
<div>
  <div>
    <img src="{{ object.author.thumbnail }}" alt="">
  </div>
  <div>
    <p>{{object.author}}</p>
  </div>
</div>

<div><img class="card-img-bottom" src="{{ object.post_photo.url }}" alt="Card image cap"></div>

<div>
  <p>{{object.text}}</p>
</div>

<h1>募集条件: {{ object.recruitment_conditions }}</h1>

<h1>募集人数:{{ object.capacity }}人</h1>

<h1>応募者 is {{object.get_applicant}}</h1>

<h1>メンバー is {{object.get_member}}</h1>


{% if post.author.id == user.id %}
<p>メンバー</p>
{% for user in object.get_member %}
    <form method="post" action="{% url 'timeline:accept' object.id user.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("このユーザーをメンバーから外しますか？");'>
        {{user}}
      </button>
    </form>
{% endfor %}

<p>応募者</p>
{% for user in object.get_applicant %}
    <form method="post" action="{% url 'timeline:accept' object.id user.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("このユーザーをメンバーにしますか？");'>
        {{user}}
      </button>
    </form>
{% endfor %}

{% endif %}

<hr>

{% include "timeline/like_apply_delete.html" %}


<div>
  <form method="post" action="{% url 'timeline:comment' object.id %}" class="d-inline">
    {% csrf_token %}
    <textarea name="text" rows="3" placeholder="コメント"></textarea>
    <button class="btn btn-dark btn-block" type="submit">コメントを送信</button>
  </form>
</div>

{% for comment in object.get_comment %}
  <div>
    {% if comment.author.id == object.id %}
      <p style="color: blue">投稿者</p>
    {% endif %}
    <p>{{comment.text}}</p>
    <p>{{comment.created_at}}</p>
    {% if comment.author.id == user.id %}
      <form method="post" action="{% url 'timeline:delete_comment' object.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("このコメントを本当に削除しますか？");'>
        削除
      </button>
      </form>
    {% endif %}
  </div>
{% endfor %}

<img class="card-img-bottom" src="{{ object.post_photo.url }}" alt="Card image cap">
{% endblock %}