{% extends 'base.html' %}
{% load static %}
{% block title %}投稿編集 | seekiee{% endblock %}
{% block contents %}

<div class="update-comment-form">
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<textarea name="text" cols="40" rows="10" maxlength="100" required="" id="id_text">{% if comment %}{{comment.text}}{% endif %}{% if comment_reply %}{{comment_reply.text}}{% endif %}</textarea>
	<hr>
	<button type="submit" class="update-comment-submit">編集する</button>
</form>
</div>
{% endblock %}