{% extends 'base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}新規投稿 | seekiee{% endblock %}
{% block contents %}

<div class="create-post">
	<form  method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="create-segment">
		  <h1>新規投稿</h1>
		</div>

		<div class="input-group">
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/鉛筆の無料アイコン7.png' %}">
					<h2>タイトル</h2>
					<p>※必須項目</p>
				</div>
				{% render_field form.title placeholder="タイトル：例)〇〇ハッカソンの仲間募集" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/記事アイコン2.png' %}">
					<h2>内容</h2>
					<p>※必須項目</p>
				</div>
				{% render_field form.text placeholder="内容：例)今度の〇〇ハッカソンに参加したい！" rows="3" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/拡声器のアイコンその3.png' %}">
					<h2>募集条件</h2>
				</div>
				{% render_field form.recruitment_conditions placeholder="募集条件：例)〇〇に詳しい方募集！" rows="3" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/チームアイコン3.png' %}">
					<h2>募集人数</h2>
				</div>
				{% render_field form.capacity placeholder="募集人数" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/イメージ画像のアイコン素材.png' %}">
					<h2>投稿写真</h2>
				</div>
				{% render_field form.photo %}
			</label>
			<button class="unit" type="submit"><img src="{% static 'images/紙飛行機アイコン.png' %}">投稿する</button>
		</div>

	  </form>
</div>


{% endblock %}