{% extends 'base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}新規投稿 | seekiee{% endblock %}
{% block contents %}

{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}"/>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ form.media }}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script> {% endcomment %}

<div class="create-post">
	<form  method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="create-segment">
		  <h1>新規投稿</h1>
		</div>
		<div class="input-group">
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/鉛筆の無料アイコン7.png' %}">
					<h2>カテゴリー</h2>
					<p>※必須項目</p>
				</div>
				{% render_field form.category %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/鉛筆の無料アイコン7.png' %}">
					<h2>タイトル</h2>
					<p>※必須項目</p>
				</div>
				{% render_field form.title placeholder="タイトル：例)〇〇ハッカソンの仲間募集" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/記事アイコン2.png' %}">
					<h2>コメント</h2>
					<p>※必須項目</p>
				</div>
				{% render_field form.text placeholder="コメント：例)今度の〇〇ハッカソンに参加したい！" rows="3" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/拡声器のアイコンその3.png' %}">
					<h2>応募条件</h2>
				</div>
				{% render_field form.restriction placeholder="応募条件：例)〇〇に詳しい方募集！" rows="3" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/鉛筆の無料アイコン7.png' %}">
					<h2>応募期限</h2>
				</div>
				{% render_field form.deadline %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/チームアイコン3.png' %}">
					<h2>募集人数</h2>
				</div>
				{% render_field form.capacity placeholder="募集人数" %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/チームアイコン3.png' %}">
					<h2>募集ステータス</h2>
					<p>※必須項目</p>
				</div>
				{% render_field form.state_control_type %}
			</label>
			<label>
				<div class="flex-icon">
					<img src="{% static 'images/JPGアイコン.png' %}">
					<h2>投稿写真</h2>
				</div>
				{% render_field form.photo %}
			</label>
			<button class="unit" type="submit"><img src="{% static 'images/紙飛行機アイコン.png' %}">投稿する</button>
		</div>

	  </form>
</div>


{% endblock %}