{% if post.author != user %}
	{% if user in post.author.get_follower %}
	<button class="btn btn-link p-0 user-follow" id="user-follow-{{ post.author.id }}" data-id="{{ post.author.id }}">
	フォロー解除
	</button>
	{% else %}
	<button class="btn btn-link p-0 user-disfollow" id="user-follow-{{ post.author.id }}" data-id="{{ post.author.id }}">
	フォロー
	</button>
	{% endif %}
	<span class="badge badge-info" id="follow-count-{{ post.author.id }}">{% if post.author.get_follower %}{{ post.author.get_follower | length }}{% endif %}</span>
{% endif %}