{% load static %}

<div class="my_container dynamic-grid">
  {% for post in object_list %}
  <article class="grid-item content-box">
  <div class="inner">

    <div class="post-head">
      <a href="{% url 'accounts:detail' post.author.id %}">
      <img src="{% if post.author.photo_small %}{{ post.author.photo_small.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle post-photo post-thumbnail">
      </a>
      <div class="post-author">
        <p><a class="text-secondary" href="{% url 'accounts:detail' post.author.id %}">{{ post.author }}</a>
        {% if post.author != user %}
          {% if user in post.author.get_follower %}
            <small>(フォロー中)</small>
          {% endif %}
        {% endif %}
        </p>
      </div>
      <small class="post-title">{{ post.title }}</small>
        {% include "like2.html" %}
    </div>

    <div class="post-info">
      <a href="{% url 'timeline:detail' post.id %}">
        <span class="mask">

          <img class="card-img-bottom content-box-thumb" src="{% if post.post_photo %}{{ post.post_photo.url }}{% else %}{{ post.category.post_photo.url }}{% endif %}" alt="Card image cap">
          <span class="cap">
            <p class="post-info1">
              投稿日時: {{ post.created_at | date:"n月j日 H時i分" }}<br>
              カテゴリー: <object><a href="{% url 'search:post' %}?category={{ post.category }}" >{{ post.category }}</a></object><br>
              タイトル: {{ post.title }}<br>
              内容: {{ post.text }}
            </p>
            <p class="post-info2">
              {% if not post.restriction %}
                募集条件: -<br>
              {% else %}
                募集条件: {{ post.restriction }}<br>
              {% endif %}
              {% if post.capacity is None %}
                募集人数: -
              {% else %}
                募集人数: {{ post.capacity }}人
              {% endif %}
              {% if not post.is_recruited %}
                <br>
                この投稿は現在募集されていません。
              {% endif %}
            </p>
            <div class="post-info-detail">
              投稿詳細は<span>こちら</span>
            </div>
          </span>
        </span>
      </a>
    </div>

  </div>
  </article>
  {% endfor %}
</div>