{% extends 'base2.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{{ customuser.username }} | seekiee{% endblock %}
{% block contents %}

<div class="profile-detail">

  <div class="wrapper">
    <div class="profile-card">
      <div class="profile-card__img">
        <img src="{% if customuser.thumbnail %}{{ customuser.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" alt="profile-photo" class="rounded-circle post-photo">
      </div>

      <div class="profile-card__cnt">
        <div class="profile-card-name">{% render_field customuser.username %}</div>
        <div class="profile-card-bio">{% if customuser.description %}{% render_field customuser.description %}{% else %}本文はありません。{% endif %}</div>
        <div class="profile-card-personal">
          <div class="profile-age">
            年齢：{% if customuser.age %}{% render_field customuser.age %}歳{% else %}-{% endif %}
          </div>
          <div class="profile-school">
            学校：{% if customuser.school %}{% render_field customuser.school %}{% else %}-{% endif %}
          </div>
        </div>

        <div class="profile-card-inf">
          <div class="profile-card-inf__item">
            <a href="{% url 'accounts:posts' customuser.id 'follower' %}">
              <div class="profile-card-inf__title">
                  <span id="follow-count-{{ customuser.id }}">{{ customuser.get_follower | length }}</span>
              </div>
              <div class="profile-card-inf__txt">Followers</div>
            </a>
          </div>

          <div class="profile-card-inf__item">
            <a href="{% url 'accounts:posts' customuser.id 'follow' %}">
              <div class="profile-card-inf__title">
                  <span id="follow-count-{{ customuser.id }}">{{ customuser.get_follower | length }}</span>
              </div>
              <div class="profile-card-inf__txt">Followings</div>
            </a>
          </div>

          <div class="profile-card-inf__item">
            <a href="{% url 'accounts:posts' customuser.id 'recruit' %}">
              <div class="profile-card-inf__title">
                  <span id="follow-count-{{ customuser.id }}">{{ customuser.get_follower | length }}</span>
              </div>
              <div class="profile-card-inf__txt">Posts</div>
            </a>
          </div>
        </div>

        <div class="profile-card-social">

          <a href="{% url 'accounts:posts' customuser.id 'recruit' %}">
            <button class="unit" type="button"><img src="{% static 'images/拡声器のアイコンその3青.png' %}"></button>
          </a>

          <a href="{% url 'accounts:posts' customuser.id 'like' %}">
            <button class="unit" type="button"><img src="{% static 'images/ハートのマーク赤.png' %}"></button>
          </a>

          <a href="{% url 'accounts:posts' customuser.id 'entry' %}">
            <button class="unit" type="button"><img src="{% static 'images/記事アイコン3.png' %}"></button>
          </a>

          <a href="{% url 'accounts:posts' customuser.id 'join' %}">
            <button class="unit" type="button"><img src="{% static 'images/チームアイコン3.png' %}"></button>
          </a>

          {% if customuser.github_id  %}
          <a href="https://github.com/{{ customuser.github_id }}">
            <button class="unit" type="button"><img src="{% static 'images/GitHub-Mark-120px-plus.png' %}"></button>
          </a>
          {% endif %}

        </div>

        <div class="profile-card-ctr">
            <form method="POST" action="{% url 'dm:create-thread' customuser.id %}">
              {% csrf_token %}
              <button type="submit" class="profile-card__button button--blue" alt="DM">Message</button>
            </form>
          {% if customuser.id == user.id %}
            <a href="{% url 'accounts:edit' %}">
              <button class="profile-card__button button--orange">Edit Profile</button>
            </a>
          {% else %}
            {% if user in customuser.get_follower %}
              <button class="user-follow profile-card__button button--orange" id="user-follow-{{ customuser.id }}" data-id="{{ customuser.id }}">フォロー解除</button>
            {% else %}
              <button class="user-disfollow profile-card__button button--orange" id="user-follow-{{ customuser.id }}" data-id="{{ customuser.id }}">フォロー</button>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% if customuser.id == user.id %}
    <form method="post" action="{% url 'accounts:quit' %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("本当に退会しますか？");'>
        退会
      </button>
    </form>

  {% endif %}
</div>


{% endblock %}
