{% load static %}

<div class="button-element">
	<a class="button-link" href="#">
	  <div class="button-container medium">
		<div class="search-button">
		  <div class="search-icon">
			<img src="{% static 'images/虫眼鏡アイコン11.png' %}" alt="search">
		  </div>
		  <div class="close-icon">
			  <img src="{% static 'images/ノーマルの太さのバツアイコン2.png' %}" alt="close">
		  </div>
		  <div class="search-text">
			Search
		  </div>
		</div>
	  </div>
	</a>
</div>

<div class="fullscreen-animation"></div>

<div class="search-overlay">
	<h1 class="overlay-info">
		<img src="{% static 'images/Seekiee_logo3.png' %}" alt="Logo">
	</h1>
	<form name="search" action="{% url 'search:post' %}" method="get">
		<input name="word" value="{{ request.GET.word }}" id="search-box" class="form-control" placeholder="Search for ..." type="search">
		<a class="btn btn-default" id="clear-btn"><span class="glyphicon glyphicon-remove"></span></a>
		<br>
		<a href="javascript:search.submit()" class="btn btn-default" id="search-btn"><span class="glyphicon glyphicon-search"></span><img src="{% static 'images/虫眼鏡アイコン11.png' %}" alt="search">&nbsp;&nbsp;Search</a>
	</form>
	<h1 class="overlay-info">
		Category
	</h1>
	<div class="category-search">
	{% for category in categorys %}
		<a style="text-decoration:none;" class="category-btn" href="{% url 'search:post' %}?category={{category}}" >&nbsp;{{category.display}}&nbsp;</a>
	{% endfor %}
	</div>
</div>