@charset "UTF-8";
.Header { align-items: center; background: white; display: flex; height: 100px; justify-content: center; position: fixed; text-align: center; top: 0; width: 100%; z-index: 10; background-color: #545454; }

.Header.has-mobile-button .MobileNav-trigger { display: flex; }

.Header-inner { display: flex; justify-content: space-between; transition: height 0.4s ease; width: 80vw; }

.Header .logo { align-self: center; display: flex; height: 80px; margin-right: 60px; width: 200px; }

.Header .logo img { height: 100%; object-fit: contain; width: 100%; }

.Header-nav { display: flex; flex-wrap: wrap; height: 0; justify-content: space-between; max-height: 105px; max-width: 940px; overflow: hidden; width: 100%; }

.Header-nav-item { align-items: center; align-self: center; color: white; display: flex; flex-shrink: 0; font-family: Lato, sans-serif; font-size: 20px; font-weight: bold; height: 100%; line-height: 32px; margin: 0 40px; transition: font-size 0.4s ease, padding 0.4s ease; }

.Header-nav-item:last-child { margin-right: 0; }

.Header-nav-item a { color: white; text-decoration: none; }

.Header-nav-item a:hover { color: orange; text-decoration: none; }

.Header-nav-item:hover { color: white !important; }

.Header-nav:hover .Header-nav-item { color: white; }

@media screen and (min-width: 481px) { .Header-nav { height: auto; } }

.MobileNav { height: calc(100% - 55px); left: 0; pointer-events: none; position: fixed; top: 70px; width: 100%; z-index: 9; }

.MobileNav-inner { background: #545454; display: flex; flex-direction: column; height: 100%; max-width: 100%; overflow-y: scroll; position: absolute; right: 0; transform: translate(0, -105%); transition: transform 0.4s ease, visibility 0.4s ease; visibility: hidden; width: 100%; }

.MobileNav-inner .Button { letter-spacing: 1px; line-height: 3.8; margin: 20px -8px 20px; width: 100%; }

.MobileNav-inner .MobileNav-trigger { display: none; position: absolute; right: 38px; top: 30px; }

.MobileNav-item { color: red; display: none; font-family: Lato, sans-serif; font-size: 24px; font-weight: bold; margin: 26px 0; transition: opacity 0.3s ease; }

.MobileNav-item.is-visible { display: block; }

.MobileNav-item-title { display: flex; justify-content: space-between; width: 100%; }

.MobileNav-item-title a { color: white; flex-shrink: 0; text-decoration: none; }

.MobileNav-item-title a:hover { color: orange; text-decoration: none; }

.MobileNav-item-title span { min-width: 32px; position: relative; width: 100%; }

.MobileNav-item-title span::after { border-left: 2px solid lightgray; border-top: 2px solid lightgray; content: ""; display: block; height: 14px; position: absolute; right: 0; top: 50%; transform: translateY(-75%) rotate(225deg); transition: transform 0.2s ease; width: 14px; }

.MobileNav-overlay { height: 100%; left: 0; position: absolute; top: 0; transition: background 0.4s ease; width: 100%; }

.MobileNav-trigger { align-items: center; align-self: center; background: none; border: none; cursor: pointer; display: none; flex-shrink: 0; height: 100%; }

.MobileNav-trigger-inner { height: 12px; position: relative; width: 24px; }

.MobileNav-trigger-inner::after { background: white; content: ""; height: 2px; left: 0; position: absolute; top: 0; transform-origin: 0% 50%; transition: transform 0.2s ease; width: 100%; }

.MobileNav-trigger-inner::before { background: white; bottom: 0; content: ""; height: 2px; left: 0; position: absolute; transform-origin: 0% 50%; transition: transform 0.2s ease; width: 100%; }

.MobileNav-trigger.is-active .MobileNav-trigger-inner::after { transform: translateY(-4px) rotate(45deg); }

.MobileNav-trigger.is-active .MobileNav-trigger-inner::before { transform: translateY(3px) rotate(-45deg); }

@media screen and (min-width: 481px) { .MobileNav { height: 100%; top: 0; z-index: 11; } .MobileNav-inner { padding-top: 90px; transform: translate(100%, 0); width: 205px; } .MobileNav-inner .MobileNav-trigger { display: block; } .MobileNav-trigger { display: none; } }

@media screen and (min-width: 871px) { .MobileNav-inner { padding-top: 160px; } }

.is-mobilenav-open { overflow-y: hidden; }

.is-mobilenav-open .MobileNav { pointer-events: all; }

.is-mobilenav-open .MobileNav-inner { transform: translate(0, 0); visibility: visible; }

.is-mobilenav-open .MobileNav-overlay { background: rgba(0, 0, 0, 0.25); }

.button-element { position: fixed; right: 20px; bottom: 20px; width: 300px; height: 100px; z-index: 9; }

.button-element .button-link { display: inline-block; }

.button-element .small.button-container { left: 110px; width: 80px; }

.button-element .medium.button-container { left: 80px; width: 140px; }

.button-element .large.button-container { left: 65px; width: 170px; }

.button-element .button-container { position: absolute; top: calc(50% - 30px); height: 60px; overflow: hidden; }

.button-element .search-button { max-width: 60px; width: 100%; height: 100%; margin-left: calc(50% - 30px); border-radius: 50%; overflow: hidden; background-color: #F34046; color: white; -moz-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; -o-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; -webkit-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; }

.button-element .search-button:hover { max-width: 100%; margin-left: 0; border-radius: 50px; -moz-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); -o-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); }

.button-element .search-button:hover:hover .search-icon { opacity: 0; }

.button-element .search-button:hover:hover .search-text { opacity: 1; }

.button-element .search-icon { position: absolute; opacity: 1; left: 0; right: 0; line-height: 55px; width: 100%; height: 100%; text-align: center; font-size: 28px; -moz-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -o-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); }

.button-element .search-text { position: absolute; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; line-height: 60px; text-align: center; -moz-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -o-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); }

.numbers { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 19px; color: #5b7083; overflow: hidden; padding-left: 3px; display: flex; flex-flow: column; transition: .2s ease; user-select: none; position: relative; }

.twitter-like { cursor: pointer; width: 100px; height: 100px; background-image: url("https://abs.twimg.com/a/1446686284/img/t1/web_heart_animation.png"); background-position: left center; }

.liked .twitter-like { animation: twit-like 2s steps(28); background-position: right center; }

.a_liked .twitter-like { animation: twit-like; background-position: right center; }

@keyframes twit-like { 0% { background-position: 0; }
  50% { background-position: -2800px; }
  100% { background-position: -2800px; } }

.dynamic-grid { position: relative; z-index: 1; columns: 240px 3; column-gap: 0.7rem; }

.dynamic-grid.my_container { padding-top: 9rem; }

.my_container { width: 90%; max-width: 1280px; margin: 0 auto; }

.my_container * { line-height: 1.4rem; }

.my_container .grid-item { position: relative; display: inline-block; margin: 0.5rem 0rem; max-width: 100%; }

.my_container .grid-item .inner { padding: 0.5rem; }

.my_container .content-box { border: 0px solid #e6e6e6; background-color: white; box-shadow: 0px -1px 2px rgba(58, 58, 58, 0.1), 1px 1px 2px rgba(58, 58, 58, 0.1); }

.my_container .content-box:before { content: ''; position: absolute; display: block; width: 100%; height: 4rem; left: 0px; top: 0px; }

.my_container .post-head { position: relative; display: grid; grid-template-rows: 20px 20px; grid-template-columns: 40px 1fr 65px 30px; }

.my_container .post-head .post-thumbnail { grid-row: 1 / 3; grid-column: 1 / 2; }

.my_container .post-head .post-author { grid-row: 1 / 2; grid-column: 2 / 3; font-size: 0.85rem; display: block; display: -webkit-box; margin: 0rem; max-width: 100%; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }

.my_container .post-head .post-title { grid-row: 2 / 3; grid-column: 2 / 3; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.my_container .post-head .post-like-button { z-index: 5; grid-row: 1 / 3; grid-column: 3 / 4; position: absolute; align-self: center; }

.my_container .post-head .post-like-count { z-index: 5; grid-row: 1 / 3; grid-column: 4 / 5; align-self: center; }

.my_container .content-box-thumb { display: block; max-width: 100%; height: auto; }

.my_container .post-photo { width: 30px; height: 30px; }

.my_container .flipLeft { animation-name: flipLeft; animation-duration: 0.5s; animation-fill-mode: forwards; perspective-origin: left center; opacity: 0; }

@keyframes flipLeft { from { transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0; }
  to { transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1; } }

.my_container .post-info { /*テキストの基点となる位置を定義*/ position: relative; }

.my_container .post-info span.mask { position: relative; transition: .3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/ display: block; /*画像をくくるspanタグをブロック要素にする*/ line-height: 0; /*行の高さを0にする*/ overflow: hidden; /*拡大してはみ出る要素を隠す*/ }

.my_container .post-info img { transform: scale(1); filter: blur(0); transition: .3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/ }

.my_container .post-info span.cap { opacity: 0; transition: .5s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/ position: absolute; z-index: 3; /*テキストを前面に出す*/ top: 50%; left: 50%; width: calc(100% - 60px); height: calc(100% - 20px); transform: translate(-50%, -50%); color: white; /*テキストの色を変えたい場合はここを修正*/ display: grid; grid-template-rows: 1rf 1rf 1rf; grid-template-columns: 1rf; row-gap: 0px; column-gap: 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; align-content: center; }

.my_container .post-info span.cap .post-info1 { grid-row: 1 / 2; grid-column: 1 / 2; align-self: center; }

.my_container .post-info span.cap .post-info2 { grid-row: 2 / 3; grid-column: 1 / 2; align-self: center; }

.my_container .post-info span.cap .post-info-detail { grid-row: 3 / 4; grid-column: 1 / 2; align-self: center; z-index: 3; }

.my_container .post-info span.cap .post-info-detail span:hover { border-bottom: solid 1px white; }

.my_container .post-info :hover span.mask::before { /*hoverした時の変化*/ content: ""; position: absolute; z-index: 2; top: 10px; left: 10px; width: calc(100% - 20px); height: calc(100% - 20px); background: rgba(0, 0, 0, 0.8); /*背景色*/ }

.my_container .post-info :hover img { /*hoverした時の変化*/ transform: scale(1.1); /*拡大の値を変更したい場合はこの数値を変更*/ filter: blur(3px); /*ぼかし具合を変更したい場合はこの数値を変更*/ }

.my_container .post-info :hover span.cap { /*hoverした時の変化*/ opacity: 1; }

.create-post { z-index: 3; padding-top: 9rem; }

.create-post h1, .create-post h2 { text-shadow: 1px 1px 1px #FFF; }

.create-post h1 { border-bottom: black solid 1px; width: 30%; margin: 0px auto 20px auto; }

.create-post p { color: #AE1100; align-self: center; margin-left: 6px; margin-bottom: 0; }

.create-post form { padding: 16px; width: 50%; margin: 0 auto; }

.create-post .create-segment { text-align: center; }

.create-post button, .create-post input { border: 0; outline: 0; font-size: 16px; border-radius: 320px; padding: 16px; background-color: #EBECF0; text-shadow: 1px 1px 0 #FFF; }

.create-post textarea { border: 0; outline: 0; font-size: 16px; border-radius: 32px; padding: 16px; background-color: #EBECF0; text-shadow: 1px 1px 0 #FFF; box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; width: 100%; transition: all 0.2s ease-in-out; }

.create-post textarea:focus { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.create-post label { width: 100%; margin-bottom: 16px; }

.create-post input { box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; width: 70%; transition: all 0.2s ease-in-out; }

.create-post input:focus { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.create-post button { display: flex; color: #61677C; font-weight: bold; box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; transition: all 0.2s ease-in-out; cursor: pointer; font-weight: 600; }

.create-post button:hover { box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC; }

.create-post button:active { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.create-post button.unit { border-radius: 8px; width: 128px; height: 48px; margin: 0 auto; }

.create-post button img { object-fit: contain; width: 24px; height: 24px; margin-right: 8px; }

.create-post .flex-icon { display: flex; align-self: center; }

.create-post .flex-icon img { object-fit: contain; width: 32px; height: 32px; margin: 2px 6px 2px 2px; }

.post-update { z-index: 3; padding-top: 9rem; }

.post-update h1, .post-update h2 { text-shadow: 1px 1px 1px #FFF; }

.post-update h1 { border-bottom: black solid 1px; width: 30%; margin: 0px auto 20px auto; }

.post-update p { color: #AE1100; align-self: center; margin-left: 6px; margin-bottom: 0; }

.post-update form { padding: 16px; width: 50%; margin: 0 auto; }

.post-update .update-segment { text-align: center; }

.post-update button, .post-update input { border: 0; outline: 0; font-size: 16px; border-radius: 320px; padding: 16px; background-color: #EBECF0; text-shadow: 1px 1px 0 #FFF; }

.post-update .update-checkbox { align-self: center; margin-left: 8px; }

.post-update .update-checkbox input { width: auto; }

.post-update textarea { border: 0; outline: 0; font-size: 16px; border-radius: 32px; padding: 16px; background-color: #EBECF0; text-shadow: 1px 1px 0 #FFF; box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; width: 100%; transition: all 0.2s ease-in-out; }

.post-update textarea:focus { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.post-update label { width: 100%; margin-bottom: 16px; }

.post-update input { box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; width: 70%; transition: all 0.2s ease-in-out; }

.post-update input:focus { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.post-update .photo-update input { margin-top: 8px; }

.post-update button { display: flex; color: #61677C; font-weight: bold; box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; transition: all 0.2s ease-in-out; cursor: pointer; font-weight: 600; }

.post-update button:hover { box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC; }

.post-update button:active { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.post-update button.unit { border-radius: 8px; width: 128px; height: 48px; margin: 0 auto; }

.post-update button img { object-fit: contain; width: 24px; height: 24px; margin-right: 8px; }

.post-update .flex-icon { display: flex; align-self: center; }

.post-update .flex-icon img { object-fit: contain; width: 32px; height: 32px; margin: 2px 6px 2px 2px; }

.profile-edit { z-index: 3; padding-top: 9rem; }

.profile-edit h1, .profile-edit h2 { text-shadow: 1px 1px 1px #FFF; }

.profile-edit h1 { border-bottom: black solid 1px; width: 50%; margin: 0px auto 40px auto; }

.profile-edit p { color: #AE1100; align-self: center; margin-left: 6px; margin-bottom: 0; }

.profile-edit form { padding: 16px; width: 50%; margin: 0 auto; }

.profile-edit .profile-edit-segment { text-align: center; }

.profile-edit button, .profile-edit input { border: 0; outline: 0; font-size: 16px; border-radius: 320px; padding: 16px; background-color: #EBECF0; text-shadow: 1px 1px 0 #FFF; }

.profile-edit textarea { border: 0; outline: 0; font-size: 16px; border-radius: 32px; padding: 16px; background-color: #EBECF0; text-shadow: 1px 1px 0 #FFF; box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; width: 100%; transition: all 0.2s ease-in-out; }

.profile-edit textarea:focus { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.profile-edit label { width: 100%; margin-bottom: 16px; }

.profile-edit input { box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF; width: 70%; transition: all 0.2s ease-in-out; }

.profile-edit input:focus { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.profile-edit .photo-update input { margin-top: 8px; height: 60px; }

.profile-edit #photo-clear_id { width: auto; height: auto; }

.profile-edit button { display: flex; color: #61677C; font-weight: bold; box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; transition: all 0.2s ease-in-out; cursor: pointer; font-weight: 600; }

.profile-edit button:hover { box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC; }

.profile-edit button:active { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.profile-edit button.unit { border-radius: 8px; width: 128px; height: 48px; margin: 0 auto; }

.profile-edit button img { object-fit: contain; width: 24px; height: 24px; margin-right: 8px; }

.profile-edit .flex-icon { display: flex; align-self: center; }

.profile-edit .flex-icon img { object-fit: contain; width: 32px; height: 32px; margin: 2px 6px 2px 2px; }

.profile-detail { margin: 9rem auto 0 auto; z-index: 6; }

.profile-detail a, .profile-detail a:hover { text-decoration: none; color: black; }

.profile-detail .icon { display: inline-block; width: 1em; height: 1em; stroke-width: 0; stroke: currentColor; fill: currentColor; }

.profile-detail .wrapper { width: 100%; height: auto; min-height: 100vh; padding: 50px 20px; padding-top: 100px; display: flex; }

@media screen and (max-width: 768px) { .profile-detail .wrapper { height: auto; min-height: 100vh; padding-top: 100px; } }

.profile-detail .profile-card { width: 100%; min-height: 460px; margin: auto; box-shadow: 0px 8px 30px -10px rgba(13, 28, 39, 0.6); background: #fff; border-radius: 12px; max-width: 700px; position: relative; }

.profile-detail .profile-card.active .profile-card__cnt { filter: blur(6px); }

.profile-detail .profile-card__img { width: 150px; height: 150px; margin-left: auto; margin-right: auto; transform: translateY(-50%); border-radius: 50%; overflow: hidden; position: relative; z-index: 4; }

@media screen and (max-width: 576px) { .profile-detail .profile-card__img { width: 120px; height: 120px; } }

.profile-detail .profile-card__img img { display: block; width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }

.profile-detail .profile-card__cnt { margin-top: -35px; text-align: center; padding: 0 20px; padding-bottom: 40px; transition: all .3s; }

.profile-detail .profile-card-name { font-weight: 700; font-size: 24px; margin-bottom: 15px; overflow-wrap: break-word; }

.profile-detail .profile-card-bio { font-size: 18px; font-weight: 500; color: #324e63; margin-bottom: 15px; overflow-wrap: break-word; }

.profile-detail .profile-card-personal { display: flex; justify-content: center; align-items: center; font-size: 18px; font-weight: 600; }

.profile-detail .profile-card-personal .profile-age { margin-right: 10px; }

.profile-detail .profile-card-personal .profile-school { margin-left: 10px; overflow-wrap: break-word; }

.profile-detail .profile-card-inf { display: flex; justify-content: center; flex-wrap: wrap; align-items: flex-start; margin-top: 25px; }

.profile-detail .profile-card-inf__item { padding: 10px 35px; min-width: 150px; }

@media screen and (max-width: 768px) { .profile-detail .profile-card-inf__item { padding: 10px 20px; min-width: 120px; } }

.profile-detail .profile-card-inf__title { font-weight: 700; font-size: 27px; color: #324e63; }

.profile-detail .profile-card-inf__txt { font-weight: 500; margin-top: 7px; }

.profile-detail .profile-card-social { margin-top: 25px; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }

.profile-detail .profile-card-social button { box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC; transition: all 0.2s ease-in-out; cursor: pointer; border: 0; outline: 0; border-radius: 320px; background-color: #EBECF0; }

.profile-detail .profile-card-social button:hover { box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC; }

.profile-detail .profile-card-social button:active { box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF; }

.profile-detail .profile-card-social button.unit { border-radius: 8px; width: 48px; height: 48px; margin: 0 15px; }

.profile-detail .profile-card-social button img { object-fit: contain; width: 24px; height: 24px; }

.profile-detail .profile-card-ctr { display: flex; justify-content: center; align-items: center; margin-top: 40px; }

@media screen and (max-width: 576px) { .profile-detail .profile-card-ctr { flex-wrap: wrap; } }

.profile-detail .profile-card__button { background: none; border: none; font-family: 'Quicksand', sans-serif; font-weight: 700; font-size: 19px; margin: 15px 35px; padding: 15px 40px; min-width: 201px; border-radius: 50px; min-height: 55px; color: #fff; cursor: pointer; backface-visibility: hidden; transition: all .3s; }

@media screen and (max-width: 768px) { .profile-detail .profile-card__button { min-width: 170px; margin: 15px 25px; } }

@media screen and (max-width: 576px) { .profile-detail .profile-card__button { min-width: inherit; margin: 0; margin-bottom: 16px; width: 100%; max-width: 300px; } .profile-detail .profile-card__button:last-child { margin-bottom: 0; } }

.profile-detail .profile-card__button:focus { outline: none !important; }

@media screen and (min-width: 768px) { .profile-detail .profile-card__button:hover { transform: translateY(-5px); } }

.profile-detail .profile-card__button:first-child { margin-left: 0; }

.profile-detail .profile-card__button:last-child { margin-right: 0; }

.profile-detail .profile-card__button.button--blue { background: linear-gradient(45deg, #1da1f2, #0e71c8); box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4); }

.profile-detail .profile-card__button.button--blue:hover { box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75); }

.profile-detail .profile-card__button.button--orange { background: linear-gradient(45deg, #d5135a, #f05924); box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35); }

.profile-detail .profile-card__button.button--orange:hover { box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75); }

.dm { padding: 8rem 1.5rem 3rem 1.5rem; text-align: center; max-width: 536px; margin: auto; margin-top: 9rem; }

.messages { list-style: none; padding: 0; }

.post-photo { width: 50px; height: 50px; }

.form-content { max-width: 330px; margin: auto; }

.form-group label { display: none; }

.form-group .form-check label { display: inline-block; }

.form-group { word-break: break-all; }

.profile-post-photo { width: 50px; height: 50px; }

/* dm */
.inbox-icon-container { margin-right: 15px; }

.inbox-icon { color: #333; transition: 0.5s; }

.inbox-icon:hover { transition: 0.5s; }

.sent-message { float: left; background: #f5f5f5; background-attachment: fixed; color: #000; border-radius: 0.2rem 0.5rem 0.5rem 0.2rem; height: fit-content; width: fit-content; padding: 0.5rem 1rem; margin: 0; text-align: left; }

.received-message { float: right; background: linear-gradient(180deg, #8b2fb8 0%, #6758cd 51%, #5974db 92%) no-repeat center; background-attachment: fixed; color: #fff; border-radius: 0.5rem 0.2rem 0.2rem 0.5rem; height: fit-content; width: fit-content; display: inline; padding: 0.5rem 0.4rem 0.5rem 0.5rem; margin: 0; text-align: left; }

.empty-text { color: #777; font-size: 1.5rem; text-align: center; }

.dropdown { position: relative; display: inline-block; }

.dropdown-content { position: absolute; background-color: #f1f1f1; min-width: 300px; box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2); z-index: 1; font-size: 0.9rem; }

.dropdown-content a { color: black; padding: 12px 16px; text-decoration: none; display: block; }

.dropdown-content a:hover { background-color: #ddd; }

.dropdown-item-parent { position: relative; display: block; }

.dropdown-item-close { position: absolute; top: 0; right: 0; font-size: 1.8rem; padding-right: 5px; transition: 0.3s; }

.dropdown-item-close:hover { color: #b41919; transition: 0.3s; cursor: pointer; }

.notification-badge { transition: 0.3s; }

.notification-badge:hover { cursor: pointer; opacity: 0.75; transition: 0.3s; }

.notification-badge { transition: 0.3s; }

.notification-badge:hover { opacity: 0.75; transition: 0.3s; }

.link-list { background-color: #eee; }

.link-list-children:not(:first-child) { margin-left: 16px; }

.link-list-current:not(:first-child) { margin-left: 16px; }

.link-list-children { font-weight: 600; color: #888; }

.link-list-children:hover { text-decoration: none; font-weight: 600; color: #000; }

.link-list-current { color: #000; font-weight: 600; text-decoration: underline orangered; }

.account-info { padding: 4px 8px; }

.container { padding: 4px 8px; }

.follow-btn:hover { cursor: pointer; }

.sort-select { width: 90%; margin: auto; position: relative; -webkit-appearance: none; appearance: none; width: 170px; padding: 4px 8px; box-sizing: border-box; font-size: 1em; border: #ccc 1px solid; background: ghostwhite; color: black; border-radius: 2em; }

.sort-select::after { content: ""; display: block; width: 10px; height: 10px; position: absolute; right: 5%; top: 35%; transform: rotate(45deg) translateY(-30%); border-bottom: #fff 5px solid; border-right: #fff 5px solid; }

/* .user-follow{ color: white; font-weight: 600; background-color: blue; } .user-follow:hover{ text-decoration: none; background-color: skyblue; } .user-disfollow{ color: white; font-weight: 600; background-color: red; } */
.detail-template { text-align: left; width: 70%; margin: auto; margin-top: 100px; }

.detail-template p { margin: 0px; white-space: pre-wrap; }

.detail-template h2 { margin: 10px 0; font-weight: bold; }

.detail-template hr { margin: 5px 0; }

.detail-template .post-like-count { margin: auto 0; }

.detail-photo-box { height: 450px; overflow: scroll; }

.detail-author-info { display: flex; padding: 15px 0; justify-content: space-between; }

.detail-author-left { display: flex; }

.detail-author-right { display: flex; }

.detail-author-photo { width: 40px; border-radius: 50%; }

.detail-author-img { margin: auto 0; }

.detail-author-name { margin: auto 0; }

.detail-author-name-p { margin: 0px 0px; padding-left: 15px; font-size: 16px; }

.detail-author-name-p a { color: #000; }

.detail-post-content { display: flex; line-height: 30px; width: 100%; }

.detail-post-main-content { padding-right: 30px; padding-bottom: 30px; width: 70%; }

.detail-post-sidebar { padding-top: 30px; width: 30%; }

.detail-post-sidebar button { width: 100%; border-radius: 100vh; }

.detail-post-apply { padding-bottom: 30px; text-align: center; }

.detail-post-apply button { display: -webkit-flex; display: flex; -webkit-justify-content: center; justify-content: center; text-align: center; border-radius: 50px; background: unset; background-image: linear-gradient(260deg, #37ecba, #72afd3); font-weight: 600; font-size: 20px; line-height: 52px; color: white !important; border: none; outline: none; transition: all 0.2s ease; }

.detail-post-apply .detail-button:hover { transition: all 0.2s; }

.detail-post-apply .detail-button:hover { font-size: 25px; }

.detail-post-sidebar p { padding-bottom: 10px; }

.detail-sidebar-title { font-size: 20px; font-weight: bold; }

.detail-post-title { margin: 0px; text-align: left; }

.detail-post-text { margin: 30px 0; }

.detail-list { display: flex; justify-content: space-around; }

.detail-applicant-photo { text-align: center; }

.detail-applicant-list { text-align: center; width: 30%; }

.detail-member-list { text-align: center; width: 30%; }

.detail-profile-post-photo { width: 50%; height: 50%; padding-bottom: 10px; }

.detail-applicant-info { padding: 20px 0; }

.detail-null { padding: 30px 0; }

.detail-comment-create { resize: none; width: 100%; }

.detail-comment { padding: 10px 0; }

.detail-comment-box { padding-top: 30px; padding-bottom: 30px; }

.detail-comment-created_at { text-align: right; font-size: 12px; }

.detail-comment-underpart { padding-top: 5px; display: flex; justify-content: space-between; }

.detail-comment-button { padding-right: 10px; }

.comment-list-template { text-align: left; width: 70%; margin: auto; margin-top: 130px; }

.comment-list-parent-underpart { display: flex; justify-content: space-between; padding: 10px 0; }

.comment-list-comment-create { resize: none; width: 100%; }

.comment-list-content { padding-bottom: 10px; }

.comment-list-comment-underpart { display: flex; justify-content: space-between; }

.comment-list-created_at { font-size: 5px; }

.comment-list-reply-form { padding-bottom: 30px; }

.comment-list-posturl { color: #797979; }

.comment-list-posturl:hover { color: #797979; }

/*# sourceMappingURL=test.css.map */