@charset "UTF-8";
.Header { align-items: center; background: white; display: flex; height: 100px; justify-content: center; position: fixed; text-align: center; top: 0; width: 100%; z-index: 10; background-color: #545454; }

.Header.has-mobile-button .MobileNav-trigger { display: flex; }

.Header-inner { display: flex; justify-content: space-between; transition: height 0.4s ease; width: 80vw; }

.Header .logo { align-self: center; display: flex; height: 80px; margin-right: 60px; width: 200px; }

.Header .logo img { height: 100%; object-fit: contain; width: 100%; }

.Header-nav { display: flex; flex-wrap: wrap; height: 0; justify-content: space-between; max-height: 105px; max-width: 940px; overflow: hidden; width: 100%; }

.Header-nav-item { align-items: center; align-self: center; color: red; display: flex; flex-shrink: 0; font-family: Lato, sans-serif; font-size: 20px; font-weight: bold; height: 100%; line-height: 32px; margin: 0 40px; transition: font-size 0.4s ease, padding 0.4s ease; }

.Header-nav-item:last-child { margin-right: 0; }

.Header-nav-item a { color: white; text-decoration: none; }

.Header-nav-item a:hover { color: orange; text-decoration: none; }

.Header-nav-item:hover { color: red !important; }

.Header-nav:hover .Header-nav-item { color: white; }

@media screen and (min-width: 481px) { .Header-nav { height: auto; } }

.MobileNav { height: calc(100% - 55px); left: 0; pointer-events: none; position: fixed; top: 70px; width: 100%; z-index: 9; }

.MobileNav-inner { background: #545454; display: flex; flex-direction: column; height: 100%; max-width: 100%; overflow-y: scroll; position: absolute; right: 0; transform: translate(0, -105%); transition: transform 0.4s ease, visibility 0.4s ease; visibility: hidden; width: 100%; }

.MobileNav-inner .Button { letter-spacing: 1px; line-height: 3.8; margin: 20px -8px 20px; width: 100%; }

.MobileNav-inner .MobileNav-trigger { display: none; position: absolute; right: 38px; top: 30px; }

.MobileNav-item { color: red; display: none; font-family: Lato, sans-serif; font-size: 24px; font-weight: bold; margin: 26px 0; transition: opacity 0.3s ease; }

.MobileNav-item.is-visible { display: block; }

.MobileNav-item-title { display: flex; justify-content: space-between; width: 100%; }

.MobileNav-item-title a { color: white; flex-shrink: 0; text-decoration: none; }

.MobileNav-item-title a:hover { color: orange; text-decoration: none; }

.MobileNav-item-title span { min-width: 32px; position: relative; width: 100%; }

.MobileNav-item-title span::after { border-left: 2px solid lightgray; border-top: 2px solid lightgray; content: ""; display: block; height: 14px; position: absolute; right: 0; top: 50%; transform: translateY(-75%) rotate(225deg); transition: transform 0.2s ease; width: 14px; }

.MobileNav-overlay { height: 100%; left: 0; position: absolute; top: 0; transition: background 0.4s ease; width: 100%; }

.MobileNav-trigger { align-items: center; align-self: center; background: none; border: none; cursor: pointer; display: none; flex-shrink: 0; height: 100%; }

.MobileNav-trigger-inner { height: 12px; position: relative; width: 24px; }

.MobileNav-trigger-inner::after { background: white; content: ""; height: 2px; left: 0; position: absolute; top: 0; transform-origin: 0% 50%; transition: transform 0.2s ease; width: 100%; }

.MobileNav-trigger-inner::before { background: white; bottom: 0; content: ""; height: 2px; left: 0; position: absolute; transform-origin: 0% 50%; transition: transform 0.2s ease; width: 100%; }

.MobileNav-trigger.is-active .MobileNav-trigger-inner::after { transform: translateY(-4px) rotate(45deg); }

.MobileNav-trigger.is-active .MobileNav-trigger-inner::before { transform: translateY(3px) rotate(-45deg); }

@media screen and (min-width: 481px) { .MobileNav { height: 100%; top: 0; z-index: 11; } .MobileNav-inner { padding-top: 90px; transform: translate(100%, 0); width: 205px; } .MobileNav-inner .MobileNav-trigger { display: block; } .MobileNav-trigger { display: none; } }

@media screen and (min-width: 871px) { .MobileNav-inner { padding-top: 160px; } }

.is-mobilenav-open { overflow-y: hidden; }

.is-mobilenav-open .MobileNav { pointer-events: all; }

.is-mobilenav-open .MobileNav-inner { transform: translate(0, 0); visibility: visible; }

.is-mobilenav-open .MobileNav-overlay { background: rgba(0, 0, 0, 0.25); }

.button-element { position: fixed; right: 20px; bottom: 20px; width: 300px; height: 100px; z-index: 9; }

.button-element .button-link { display: inline-block; }

.button-element .small.button-container { left: 110px; width: 80px; }

.button-element .medium.button-container { left: 80px; width: 140px; }

.button-element .large.button-container { left: 65px; width: 170px; }

.button-element .button-container { position: absolute; top: calc(50% - 30px); height: 60px; overflow: hidden; }

.button-element .search-button { max-width: 60px; width: 100%; height: 100%; margin-left: calc(50% - 30px); border-radius: 50%; overflow: hidden; background-color: #F34046; color: white; -moz-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; -o-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; -webkit-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease; }

.button-element .search-button:hover { max-width: 100%; margin-left: 0; border-radius: 50px; -moz-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); -o-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1); }

.button-element .search-button:hover:hover .search-icon { opacity: 0; }

.button-element .search-button:hover:hover .search-text { opacity: 1; }

.button-element .search-icon { position: absolute; opacity: 1; left: 0; right: 0; line-height: 55px; width: 100%; height: 100%; text-align: center; font-size: 28px; -moz-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -o-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); }

.button-element .search-text { position: absolute; left: 0; right: 0; width: 100%; height: 100%; opacity: 0; line-height: 60px; text-align: center; -moz-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -o-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1); }

.numbers { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; font-size: 19px; color: #5b7083; overflow: hidden; padding-left: 3px; display: flex; flex-flow: column; transition: .2s ease; user-select: none; position: relative; }

.numbers .num1, .numbers .num2, .numbers .num3 { display: block; transition: .3s transform; }

.numbers .num1 { position: absolute; transform: translateY(-100%); }

.numbers .num3 { position: absolute; transform: translateY(100%); }

.twitter-like { cursor: pointer; width: 100px; height: 100px; background-image: url("https://abs.twimg.com/a/1446686284/img/t1/web_heart_animation.png"); background-position: left center; }

.liked .twitter-like { animation: twit-like 2s steps(28); background-position: right center; }

.a_liked .twitter-like { animation: twit-like; background-position: right center; }

@keyframes twit-like { 0% { background-position: 0; }
  50% { background-position: -2800px; }
  100% { background-position: -2800px; } }

body * { font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; line-height: 1.4rem; }

body { color: #3a3a3a; }

body:before { content: ''; display: block; position: fixed; z-index: 0; height: 100%; width: 100%; max-height: 100vh; max-width: 100wh; top: 0px; left: 0px; }

.my_container { width: 90%; max-width: 1280px; margin: 0 auto; }

.dynamic-grid { position: relative; z-index: 1; columns: 240px 3; column-gap: 0.7rem; }

.dynamic-grid.my_container { padding-top: 9rem; }

.grid-item { position: relative; display: inline-block; margin: 0.5rem 0rem; max-width: 100%; }

.grid-item .inner { padding: 0.5rem; }

.content-box { border: 0px solid #e6e6e6; background-color: white; box-shadow: 0px -1px 2px rgba(58, 58, 58, 0.1), 1px 1px 2px rgba(58, 58, 58, 0.1); }

.content-box:before { content: ''; position: absolute; display: block; width: 100%; height: 4rem; left: 0px; top: 0px; }

.post-head { position: relative; display: grid; grid-template-rows: 20px 20px; grid-template-columns: 40px 1fr 35px 30px; grid-template-columns: 40px 1fr 65px 30px; }

.post-head .post-thumbnail { grid-row: 1 / 3; grid-column: 1 / 2; }

.post-head .post-author { grid-row: 1 / 2; grid-column: 2 / 3; font-size: 0.85rem; display: block; display: -webkit-box; margin: 0rem; max-width: 100%; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }

.post-head .post-title { grid-row: 2 / 3; grid-column: 2 / 3; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.post-head .post-like-button { z-index: 5; grid-row: 1 / 3; grid-column: 3 / 4; position: absolute; align-self: center; }

.post-head .post-like-count { z-index: 5; grid-row: 1 / 3; grid-column: 4 / 5; align-self: center; }

.content-box-thumb { display: block; max-width: 100%; height: auto; }

.post-photo { width: 30px; height: 30px; }

.flipLeft { animation-name: flipLeft; animation-duration: 0.5s; animation-fill-mode: forwards; perspective-origin: left center; opacity: 0; }

@keyframes flipLeft { from { transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0; }
  to { transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1; } }

.post-info { /*テキストの基点となる位置を定義*/ position: relative; }

.post-info span.mask { position: relative; transition: .3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/ display: block; /*画像をくくるspanタグをブロック要素にする*/ line-height: 0; /*行の高さを0にする*/ overflow: hidden; /*拡大してはみ出る要素を隠す*/ }

.post-info img { transform: scale(1); filter: blur(0); transition: .3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/ }

.post-info span.cap { opacity: 0; transition: .5s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/ position: absolute; z-index: 3; /*テキストを前面に出す*/ top: 50%; left: 50%; width: calc(100% - 60px); height: calc(100% - 20px); transform: translate(-50%, -50%); color: white; /*テキストの色を変えたい場合はここを修正*/ display: grid; grid-template-rows: 1rf 1rf 1rf; grid-template-columns: 1rf; row-gap: 0px; column-gap: 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; align-content: center; }

.post-info span.cap .post-info1 { grid-row: 1 / 2; grid-column: 1 / 2; align-self: center; }

.post-info span.cap .post-info2 { grid-row: 2 / 3; grid-column: 1 / 2; align-self: center; }

.post-info span.cap .post-info-detail { grid-row: 3 / 4; grid-column: 1 / 2; align-self: center; z-index: 3; }

.post-info span.cap .post-info-detail span:hover { border-bottom: solid 1px white; }

.post-info :hover span.mask::before { /*hoverした時の変化*/ content: ""; position: absolute; z-index: 2; top: 10px; left: 10px; width: calc(100% - 20px); height: calc(100% - 20px); background: rgba(0, 0, 0, 0.8); /*背景色*/ }

.post-info :hover img { /*hoverした時の変化*/ transform: scale(1.1); /*拡大の値を変更したい場合はこの数値を変更*/ filter: blur(3px); /*ぼかし具合を変更したい場合はこの数値を変更*/ }

.post-info :hover span.cap { /*hoverした時の変化*/ opacity: 1; }

/*# sourceMappingURL=test.css.map */