.detail-template {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: 9rem;
  p {
    margin: 0px;
    white-space: pre-wrap;
  }
  h2 {
    margin: 10px 0;
    font-weight: bold;
  }
  hr {
    margin: 5px 0;
  }
  .post-like-count {
    margin: auto 0;
  }
}

.detail-author-manage {
  padding-bottom: 2rem;
  a {
    border-radius: 25px;
    background-image: linear-gradient(260deg, #1da1f2, #0e71c8);
    color: white !important;
    transition: all 0.2s ease;
    line-height: 1.5rem;
    &:hover {
      box-shadow: 0px 0px 15px #0e71c8;
      text-decoration: none;
    }
  }
  button {
    border-radius: 25px;
    background-image: linear-gradient(260deg, #d5135a, #f05924);

    color: white !important;
    transition: all 0.2s ease;
    line-height: 1.5rem;
    &:hover {
      box-shadow: 0px 0px 15px #d5135a;
      text-decoration: none;
    }
  }
}

.detail-photo-box {
  height: 450px;
  overflow: scroll;
}

.detail-post-title {
  font-family: "游ゴシック";
  font-weight: bold;
  position: relative;
  padding: 1rem 0.5rem;
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: "";
    border-radius: 3px;
    background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(#2af598),
      to(#009efd)
    );
    background-image: -webkit-linear-gradient(right, #2af598 0%, #009efd 100%);
    background-image: linear-gradient(to left, #2af598 0%, #009efd 100%);
  }
}

.detail-post-photo {
}

.detail-author-info {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 140px;
  padding: 15px 0;
}

.detail-author-left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
}

.detail-author-right {
  position: absolute;
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
}

.detail-author-photo {
  width: 40px;
  border-radius: 50%;
}

.detail-author-img {
  margin: auto 0;
}

.detail-author-name {
  margin: auto 0;
}

.detail-author-name-p {
  margin: 0px 0px;
  padding-left: 15px;
  font-size: 16px;
}

.detail-author-name-p a {
  color: #000;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.detail-post-content {
  display: flex;
  line-height: 30px;
  width: 100%;
}

.detail-post-main-content {
  padding-right: 30px;
  padding-bottom: 30px;
  width: 70%;
}

.detail-list {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
  .detail-applicant-list {
    width: 45%;
    text-align: center;
  }
  .detail-member-list {
    width: 45%;
    text-align: center;
  }
  .detail-applicant-info {
    margin: 1rem 0;
  }
}

.detail-post-sidebar {
  padding-top: 30px;
  width: 30%;
  button {
    width: 100%;
    border-radius: 100vh;
  }
  a {
    color: #000;
    font-size: 0.85rem;
    text-align: right;
    &:hover {
      color: #000;
    }
  }
  p {
    padding-top: 5px;
  }
  hr {
    margin: 15px 0;
  }
}

.detail-post-apply {
  padding-bottom: 30px;
  text-align: center;
  button {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    background: unset;
    background-image: linear-gradient(260deg, #37ecba, #72afd3);

    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    color: white !important;
    border: none;
    outline: none;
    transition: all 0.2s ease;
    &:hover {
      box-shadow: 0px 7px 30px #72afd3;
      text-decoration: none;
    }
  }
}

.detail-post-sidebar p {
  padding-bottom: 10px;
}

.detail-sidebar-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.detail-sidebar-list a {
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

.detail-post-title {
  margin: 0px;
  text-align: left;
}

.detail-post-text {
  margin-top: 30px;
  margin-bottom: 6rem;
  h2 {
    padding-bottom: 10px;
    border-bottom: 3px solid #e7e7e7;
    margin-bottom: 1.2rem;
  }
}

.detail-profile-post-photo {
  padding-bottom: 10px;
  width: 5rem;
}

.detail-comment-create {
  resize: none;
  width: 100%;
}

.detail-comment {
  padding: 10px 0;
}

.detail-comment-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.detail-comment-created_at {
  text-align: right;
  font-size: 12px;
}

.detail-comment-underpart {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.detail-comment-button {
  padding-right: 10px;
}

.comment-list-template {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: 10rem;
}

.comment-list-parent-underpart {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.comment-list-comment-create {
  resize: none;
  width: 100%;
}

.comment-list-content {
  padding-bottom: 10px;
}

.comment-list-comment-underpart {
  display: flex;
  justify-content: space-between;
}

.comment-list-created_at {
  font-size: 5px;
}

.comment-list-reply-form {
  padding-bottom: 30px;
}

.comment-list-posturl {
  color: #797979;
}

.comment-list-posturl:hover {
  color: #797979;
}
