.detail-template {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: 9rem;
  p {
    margin: 0px;
    white-space: pre-wrap;
  }
  h2 {
    margin: 10px 0;
    font-weight: bold;
  }
  hr {
    margin: 5px 0;
  }
  .post-like-count {
    margin: auto 0;
  }
}

.detail-author-manage {
  padding-bottom: 2rem;
  button {
    background: red;
  }
}

.detail-photo-box {
  height: 450px;
  overflow: scroll;
}

.detail-post-photo {
}

.detail-author-info {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 140px;
  padding: 15px;
}

.detail-author-left {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
}

.detail-author-right {
  position:absolute;
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
}

.detail-author-photo {
  width: 40px;
  border-radius: 50%;
}

.detail-author-img {
  margin: auto 0;
}

.detail-author-name {
  margin: auto 0;
}

.detail-author-name-p {
  margin: 0px 0px;
  padding-left: 15px;
  font-size: 16px;
}

.detail-author-name-p a {
  color: #000;
}

.detail-post-content {
  display: flex;
  line-height: 30px;
  width: 100%;
}

.detail-post-main-content {
  padding-right: 30px;
  padding-bottom: 30px;
  width: 70%;
}

.detail-post-sidebar {
  padding-top: 30px;
  width: 30%;
  button {
    width: 100%;
    border-radius: 100vh;
  }
}

.detail-post-apply {
  padding-bottom: 30px;
  text-align: center;
  button {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    background: unset;
    background-image: linear-gradient(260deg, #37ecba, #72afd3);

    font-weight: 600;
    font-size: 20px;
    line-height: 52px;
    color: white !important;
    border: none;
    outline: none;
    transition: all 0.2s ease;
  }
  .detail-button:hover {
    transition: all 0.2s;
  }
  .detail-button:hover {
    font-size: 25px;
  }
}

.detail-application {
}

.detail-application:hover {
}

.detail-post-sidebar p {
  padding-bottom: 10px;
}

.detail-sidebar-title {
  font-size: 20px;
  font-weight: bold;
}

.detail-post-title {
  margin: 0px;
  text-align: left;
}

.detail-post-text {
  margin: 30px 0;
}

.detail-list {
  display: flex;
  justify-content: space-around;
}

.detail-applicant-photo {
  text-align: center;
}

.detail-applicant-list {
  text-align: center;
  width: 30%;
}

.detail-member-list {
  text-align: center;
  width: 30%;
}

.detail-profile-post-photo {
  width: 50%;
  height: 50%;
  padding-bottom: 10px;
}

.detail-applicant-info {
  padding: 20px 0;
}

.detail-null {
  padding: 30px 0;
}

.detail-comment-create {
  resize: none;
  width: 100%;
}

.detail-comment {
  padding: 10px 0;
}

.detail-comment-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.detail-comment-created_at {
  text-align: right;
  font-size: 12px;
}

.detail-comment-underpart {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.detail-comment-button {
  padding-right: 10px;
}

.comment-list-template {
  text-align: left;
  width: 70%;
  margin: auto;
  margin-top: 130px;
}

.comment-list-parent-underpart {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.comment-list-comment-create {
  resize: none;
  width: 100%;
}

.comment-list-content {
  padding-bottom: 10px;
}

.comment-list-comment-underpart {
  display: flex;
  justify-content: space-between;
}

.comment-list-created_at {
  font-size: 5px;
}

.comment-list-reply-form {
  padding-bottom: 30px;
}

.comment-list-posturl {
  color: #797979;
}

.comment-list-posturl:hover {
  color: #797979;
}
