$ruler: 16px;
$color-shadow: #BABECC;
$color-white: #FFF;

.profile-detail {

	margin: 6rem auto 0 auto;
	z-index: 6;

	a, a:hover {
		text-decoration: none;
		color: black;
	}

  .icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
  }

  .wrapper {
	width: 100%;
	height: auto;
	min-height: 100vh;
	padding: 50px 20px;
	padding-top: 100px;
	display: flex;

	@media screen and (max-width: 768px) {
	  height: auto;
	  min-height: 100vh;
	  padding-top: 100px;
	}

  }

  .profile-card {
	width: 100%;
	min-height: 460px;
	margin: auto;
	box-shadow: 0px 8px 30px -10px rgba(13,28,39,0.6);
	background: #fff;
	border-radius: 12px;
	max-width: 700px;
	position: relative;

	&.active {
	  .profile-card__cnt {
		filter: blur(6px);
	  }
	}

	&__img {
	  width: 150px;
	  height: 150px;
	  margin-left: auto;
	  margin-right: auto;
	  transform: translateY(-50%);
	  border-radius: 50%;
	  overflow: hidden;
	  position: relative;
	  z-index: 4;

	  @media screen and (max-width: 576px) {
		width: 120px;
		height: 120px;
	  }

	  img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 50%;
	  }

	}

	&__cnt {
	  margin-top: -35px;
	  text-align: center;
	  padding: 0 20px;
	  padding-bottom: 40px;
	  transition: all .3s;
	}

	&-name {
	  font-weight: 700;
	  font-size: 24px;
	  margin-bottom: 15px;
	  overflow-wrap: break-word;
	}

	&-bio {
	  font-size: 18px;
	  font-weight: 500;
	  color: #324e63;
	  margin-bottom: 15px;
	  overflow-wrap: break-word;
	}

	&-personal {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  font-size: 18px;
	  font-weight: 600;

	  .profile-age {
		  margin-right: 10px;
	  }

	  .profile-school {
		  margin-left: 10px;
		  overflow-wrap: break-word;
	  }
	}

	&-inf {
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	  align-items: flex-start;
	  margin-top: 25px;

	  &__item {
		padding: 10px 35px;
		min-width: 150px;

		@media screen and (max-width: 768px) {
		  padding: 10px 20px;
		  min-width: 120px;
		}

	  }

	  &__title {
		font-weight: 700;
		font-size: 27px;
		color: #324e63;
	  }

	  &__txt {
		font-weight: 500;
		margin-top: 7px;
	  }

	}

	&-social {
	  margin-top: 25px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;

	  button {
		box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		border: 0;
		outline: 0;
		border-radius: $ruler*20;
		background-color:$color-bg;

		&:hover {
		  box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
		}

		&:active {
		  box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
		}

		&.unit {
		  border-radius: $ruler/2;
		  width: $ruler*3;
		  height: $ruler*3;
		  margin: 0 15px;
		}

		img {
			object-fit: contain;
			width: $ruler*1.5;
			height: $ruler*1.5;
		}
	  }

	  .social-btn-label {
		  margin-top: 5px;
		  font-size: 15px;
		  position: absolute;
		  visibility: hidden;
		  color: rgba(0, 0, 0, 0.3);
	  }

	  & .social-btn:hover {
		.social-btn-label {
			visibility: visible;
		}
	  }
	}

	&-ctr {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  margin-top: 40px;

	  @media screen and (max-width: 576px) {
		flex-wrap: wrap;
	  }

	}

	&__button {
	  background: none;
	  border: none;
	  font-family: 'Quicksand', sans-serif;
	  font-weight: 700;
	  font-size: 19px;
	  margin: 15px 35px;
	  padding: 15px 40px;
	  min-width: 201px;
	  border-radius: 50px;
	  min-height: 55px;
	  color: #fff;
	  cursor: pointer;
	  backface-visibility: hidden;
	  transition: all .3s;

	  @media screen and (max-width: 768px) {
		min-width: 170px;
		margin: 15px 25px;
	  }

	  @media screen and (max-width: 576px) {
		min-width: inherit;
		// margin: 0;
		// width: 100%;
		margin-bottom: 16px;
		max-width: 300px;
	  }

	  &:focus {
		outline: none!important;
	  }

	  &:hover {
		transform: translateY(-5px);
	  }

	  &:first-child {
		margin-left: 0;
	  }

	  &:last-child {
		margin-right: 0;
	  }

	  &.button--blue {
		background: linear-gradient(45deg, #1da1f2, #0e71c8);
		box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
		margin-left: 0;
		&:hover {
		  box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
		}
	  }

	  &.button--orange {
		background: linear-gradient(45deg, #d5135a, #f05924);
		box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
		&:hover {
		  box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
		}
	  }
	}
  }

  .withdrawal-btn {
	background-color: white;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
    line-height: 1.5;
    border: 0.1rem solid #dbdbdb;
    border-radius: 1rem;
    padding: 0 1rem;
    position: absolute;
	top: 7rem;
	right: 2rem;

	&:hover {
		background-color: #ffeeba;
	}
  }
}
