.button-element {
  position:fixed;
  right:20px;
  bottom:20px;
  width: 300px;
  height: 100px;
  z-index: 10;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;

  .button-link {
    display: inline-block;
  }

  .medium.button-container {
    left: 80px;
    width: 140px;
  }

  .button-container {
    position: absolute;
    top: calc(50% - 30px);
    height: 60px;
    overflow: hidden;
  }

  &.open {
    .search-icon {
      opacity: 0;
    }
    .close-icon {
      opacity: 1;
    }
  }

  .search-button {
    border: white solid 1px;
    &.open{
      border: none;
    }
    max-width: 60px;
    width: 100%;
    height: 100%;
    margin-left: calc(50% - 30px);
    border-radius: 50%;
    overflow: hidden;
    background-color: #022b43;
    color: white;
    -moz-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease;
    -o-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease;
    -webkit-transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease;
    transition: max-width 0.3s ease, margin-left 0.3s ease, border-radius 0.3s ease;

    &:hover {
      max-width: 100%;
      margin-left: 0;
      border-radius: 50px;
      -moz-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      -o-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      -webkit-transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1);
      transition: max-width 0.2s cubic-bezier(0.23, 1, 0.32, 1), margin-left 0.2s cubic-bezier(0.23, 1, 0.32, 1), border-radius 0.2s cubic-bezier(0.23, 1, 0.32, 1);

      &:hover .search-icon {
        opacity: 0;
      }
      &:hover .search-text:not(.open) {
        opacity: 1;
      }
    }
  }

  .search-icon {
    position: absolute;
    opacity: 1;
    left: 0;
    right: 0;
    line-height: 55px;
    text-align: center;
    font-size: 28px;
    -moz-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);

    img {
      object-fit: contain;
      width: 30px;
      height: 30px;
    }
  }

  .close-icon {
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    line-height: 55px;
    text-align: center;

    img {
      object-fit: contain;
      width: 40px;
      height: 40px;
    }
  }

  .search-text {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    line-height: 60px;
    text-align: center;
    -moz-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.fullscreen-animation {
  z-index: 6;
  position: fixed;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #022b43;
  right:140px;
  bottom:40px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  &.open {
    transform: scale(60);
    z-index: 8;
  }
}



.search-overlay {
  background-color:#022b43;
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: center;
  transition: opacity 0.7s ease-in-out;
  z-index: 9;
  top: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.search-overlay.open {
  opacity: 1;
  visibility: visible;

  .overlay-info {
    text-align: center;
    color: white;
    margin-top: 2rem;
    margin-bottom: 1rem;
    img {
      height: 8rem;
      width: 25rem;
      object-fit: contain;
    }
  }

  #search-box {
    background: transparent;
    border-radius: 20px;
    color: #fff;
    display: inline;
    width: 50vw;
  }

  a#clear-btn {
    background: none;
    color: #fff;
    display: inline;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: -30px;
  }

  a#clear-btn:hover {
    opacity: 0.5;
  }

  a#search-btn {
    background: none;
    border: none;
    color: #fff;
    img {
      object-fit: contain;
      width: 15px;
      height: 15px;
    }
  }

  a#search-btn:hover {
    opacity: 0.7;
  }

  .category-search {
    display: flex;
    width: 35vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-btn {
    margin: 5px;
    background: none;
    font-size: 1.2rem;
    line-height: 1.5;
    border: 0.1rem solid #fff;
    border-radius: 0.3rem;
    color: white;
    opacity: 0.5;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }
  }
}
