{% extends 'base.html' %}
{% block contents %}
<div class="container">
  <div class="row">
    <div class="col-md-12 p-5">
      <h3>メッセージ一覧</h3>
    </div>
  </div>
  {% for thread in threads.all %}
  <div class="row mb-3">
    <div class="card col-md-12 p-5 shadow-sm">
      {% if thread.receiver == user %}
      {{ thread.user }}
      {% else %}
      {{ thread.receiver }}
      {% endif %}
      <a class="stretched-link" href="{% url 'dm:thread' thread.pk %}"></a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}