{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-5 p-3 shadow-sm mb-2">
        <h5>
          {% if thread.receiver == user %}
          <a href="{% url 'accounts:detail' thread.user.id %}" class="stretched-link"><img src="{% if thread.user.thumbnail %}{{ thread.user.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-post-photo"></a>
          {{ thread.user }}
          {% else %}
          <a href="{% url 'accounts:detail' thread.receiver.id %}" class="stretched-link"><img src="{% if thread.receiver.thumbnail %}{{ thread.receiver.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-post-photo"></a>
          {{ thread.receiver }}
          {% endif %}
        </h5>
      </div>
    </div>
    {% if message_list.all.count == 0 %}
    <div class="row my-5">
      <div class="col-md-12">
        <p class="empty-text">No Messages</p>
      </div>
    </div>
    {% endif %}
    {% for message in message_list %}
    <div class="row">
      <div class="col-md-12 my-1">
    {% if message.sender_user == request.user %}
    <div class="received-message">
      {{ message.body | linebreaksbr }}
    </div>
    {% elif message.receiver_user == request.user%}
    <div class="sent-message my-1">
      {{ message.body | linebreaksbr }}
    </div>
    {% endif %}
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-12 p-3 shadow-sm">
      <form method="POST" action="{% url 'dm:create-message' thread.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="d-grid gap-2 mt-3">
          <button class="btn btn-light" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
