{% load static %}


{% for post in object_list %}
  <div class="card mb-5 text-left">
  <div class="card-body">
    <div class="row">
      <div class="col-1">
        <a href="{% url 'accounts:detail' post.author.id %}"><img src="{% if post.author.thumbnail %}{{ post.author.thumbnail.url }}{% else %}{% static 'images/no_photo.png' %}{% endif %}" class="rounded-circle profile-post-photo"></a>
      </div>
      <div class="col-10 ml-3">
        <a href="{% url 'accounts:detail' post.author.id %}" class="text-secondary">{{ post.author }}</a><br>
        <small class="text-muted">{{ post.created_at | date:"n月j日 H時i分" }}</small>
        {% if sort_method == "like" %}
          {% for like in post.like_set.all %}{% if like.user_id == sort_userid %}
            <br><small class="text-muted">{{name}}さんは{{ like.created_at | date:"n月j日H時i分" }}、この投稿にいいねしました</small>
          {% endif %}{% endfor %}
        {% elif sort_method == "entry" %}
          {% for apply in post.apply_set.all %}{% if apply.user_id == sort_userid %}
            <br><small class="text-muted">{{name}}さんは{{ apply.created_at | date:"n月j日H時i分" }}、この投稿に応募しました</small>
          {% endif %}{% endfor %}
        {% elif sort_method == "join" %}
          {% for apply in post.apply_set.all %}{% if apply.user_id == sort_userid %}
            <br><small class="text-muted">{{name}}さんは{{ apply.updated_at | date:"n月j日H時i分" }}、この投稿に参加しました</small>
          {% endif %}{% endfor %}
        {% endif %}
        {% comment %} {% if sort_DICT.[sort_method].custom %}
          {% with table=sort_DICT.[sort_method].custom.table+"_set" column=sort_DICT.[sort_method].custom.column%}
          {% for record in post.[table].all %}{% if record.user_id == sort_postid %}
            <br><small class="text-muted">{{name}}さんは{{ record.[column] | date:"n月j日H時i分" }}にこの投稿に{{sort_DICT.[sort_method].display}}しました</small>
          {% endif %}{% endfor %}
          {% endwith %}
        {% endif %} {% endcomment %}
      </div>
    </div>
    <p class="card-text mt-2">{{ post.text | linebreaks }}</p>
    <button class="btn btn-link p-0 {% if user in post.get_like %}disabled post-liked text-secondary{% else %}post-like text-dark{% endif %}" id="post-like-{{ post.id }}" data-id="{{ post.id }}">
        いいね
    </button>
    <span class="badge badge-info" id="like-count-{{ post.id }}">{% if post.get_like %}{{ post.get_like | length }}{% endif %}</span>

    {% if post.author.id == user.id %}
    <form method="post" action="{% url 'timeline:delete' post.id %}" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-link text-dark p-0 ml-3" type="submit" onclick='return confirm("この投稿を本当に削除しますか？");'>
        削除
      </button>
    </form>
    {% elif not post.is_recruited %}
    <p>現在募集していません</p>
    {% else %}
      {% if user in post.get_applicant or user in post.get_member %}
      <button class="btn btn-link p-0 post-apply" id="post-apply-{{ post.id }}" data-id="{{ post.id }}">
        取り下げ
      </button>
      {% else %}
      <button class="btn btn-link p-0 post-disapply" id="post-apply-{{ post.id }}" data-id="{{ post.id }}">
        応募
      </button>
      {% endif %}
      <span class="badge badge-info" id="apply-count-{{ post.id }}">{% if post.get_applicant %}{{ post.get_apply_number }}{% endif %}</span>
    {% endif %}

  </div>

  <a href="{% url 'timeline:detail' post.id %}">
  {% if post.post_photo %}
  <img class="card-img-bottom" src="{{ post.post_photo.url }}" alt="Card image cap">
  {% endif %}
  </a>

</div>
{% endfor %} 

